<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the LIGMA</h1>
    <p>
      LIGMA is a Website for publication, reading and discussing articles about
      anything you want
    </p>
    <a href="">See our recent articles</a>
    <h2>
      In order to publish your own articles you need to be an authenticated user
    </h2>
    {% if messages %}
      {% for message in messages%}
        {{ message }}
      {% endfor %} <br>
    {% endif %}
    <a href="{% url 'articles:register' %}">Register</a><br>
    <a href="{% url 'articles:login' %}">Log In</a><br>
    {% if user.is_authenticated %}
    <a href="{% url 'articles:logout' %}">Log Out</a>
    {% endif %}
  </body>
</html>
