<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Your article</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="container py-5">
      {% if messages %} {% for message in messages %} {{ message }} {% endfor %}
      {% endif %}
      <h2>Topic: {{ article.topic }}</h2>
      <h3>Content:</h3>
      <p>{{ article.content }}</p>
      <p>Publication date: {{ article.pub_date.date }}</p>
      <a href="{% url 'articles:update-article' article.id %}"
        >Wanna change something about this article?</a
      >
      <p>Click this button if you want to delete this article:</p>
      <form action="{% url 'articles:delete-article' article.id %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Delete article</button>
      </form>
      <h3>Comment section</h3>
      <a href="{% url 'articles:leave-comment' article.id %}"
        >Comment your article here</a
      >
      {% if article.comment_set.count > 0 %} 
        {% for comment in article.comment_set.all|dictsortreversed:"pub_date" %}
          <div class="container py-5">
            <p>Comment: {{ comment.content }}</p>
            <p>Left by {{ comment.commentator }} {{ comment.pub_date.date }}</p>
          </div>
        {% endfor %} 
      {% else %}
      <p>No comments left yet</p>
      {% endif %}
    </div>
  </body>
</html>
