<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Your article</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="container py-5">
      {% if messages %} 
        {% for message in messages %} 
          {{ message }} 
        {% endfor %}
      {% endif %}
      <h2>Title: {{ article.title }}</h2>
      {% if article.image %}
          <img src="{{ article.image.url }}" alt="Article image" style="width: 10%; float: right; margin-right: 10px;">
      {% endif %}
      <h3>Content:</h3>
      <p>{{ article.content }}</p>
      {% for tag in article.tags.all %}
        <a href="{% url 'articles:articles-tag' tag %}">#{{ tag }}</a>
      {% endfor %}
      <p>Publication date: {{ article.pub_date.date }}</p>
      <a href="{% url 'articles:update-article' article.id %}">Edit your article</a>
      <p>Click this button if you want to delete this article:</p>
      <form action="{% url 'articles:delete-article' article.id %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Delete article</button>
      </form>
      <p>This article was read {{ times_read }} times</p>
      <h3>Readers reactions</h3>
      {% if message_to_user %}
        <p>{{message_to_user}}</p>
      {% endif %}
      <p>{{ likes }} likes | {{ dislikes }} dislikes</p>
      <h3>Comment section</h3>
      <a href="{% url 'articles:author-comment' article.id %}">Comment your article here</a>

      {% if article.comment_set.count > 0 %} 
        {% for comment in article.comment_set.all|dictsortreversed:"pub_date" %}
          <div class="container py-5">
            <p>Comment: {{ comment.content }}</p>
            <p>Left by {{ comment.commentator }} {{ comment.pub_date.date }}</p>
          </div>
        {% endfor %} 
      {% else %}
        <p>No comments left yet</p>
      {% endif %}
    </div>
  </body>
</html>
