<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <h1>Your published articles</h1>
    <div>
      {% if articles %} 
      {% for article in articles %}
      <h2>Topic: {{ article.topic }}</h2>
      <p>Content:</p>
      <p>{{ article.content }}</p>
      <p>Publication date: {{ article.pub_date.date }}</p>
      <a href="{% url 'articles:personal-article' user.id article.id %}">More about this article</a>
      {% endfor %} 
      {% else %}
      <p>Looks like you haven't published anything yet</p>
      {% endif %}
    </div>
  </body>
</html>
