<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Article</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="container py-5">
      <h2>Title: {{ article.title }}</h2>
      <p>Author: <a href="{% url 'articles:articles-author' article.author %}">{{ article.author }}</a></p>
      <p>Content:</p>
      <p>{{ article.content }}</p>
      <p>Publication date: {{ article.pub_date.date }}</p>
      <p>This article was read {{ times_read }} times</p>
      <h3>Readers reactions</h3>
      {% if message_to_user %}
        <p>{{message_to_user}}</p>
      {% endif %}
      {% if user.is_authenticated %}
        <form action="{% url 'articles:like' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Like</button>
        </form>
        <form action="{% url 'articles:dislike' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Dislike</button>
        </form>
      {% else %}
        <a href="{% url 'articles:become-user' %}">Become an authenticated user if you want to leave a reaction</a>
      {% endif %}
      <p>{{ likes }} likes | {{ dislikes }} dislikes</p>
      <h3>Comment section</h3>
      {% if user.is_authenticated %}
        <a href="{% url 'articles:leave-comment' article.id %}">You can leave your comment here</a>
      {% else %}
        <a href="{% url 'articles:become-user' %}">Become an authenticated user if you want to leave a comment</a>
      {% endif %} 
      {% if article.comment_set.count > 0 %} 
        {% for comment in article.comment_set.all|dictsortreversed:"pub_date" %}
          <div class="container py-5">
            <p>Comment: {{ comment.content }}</p>
            <p>Left by {{ comment.commentator }} {{ comment.pub_date.date }}</p>
          </div>
        {% endfor %} 
      {% else %}
        <p>No comments left yet</p>
      {% endif %}
    </div>
  </body>
</html>
