<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Trending articles</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container py-5">
        <h1>Articles trending on LIGMA for the last time</h1>
        {% for article in articles %}
        <h2>Title: {{ article.title }}</h2>
        <p>Author: {{ article.author }}</p>
        {% if article.tags.count > 0%}
          {% for tag in article.tags.all %}
            <a href="{% url 'articles:articles-tag' tag %}">#{{ tag }}</a>
          {% endfor %}
        {% endif %}
        <p>Publication date: {{ article.pub_date.date }}</p>
        <form action="{% url 'articles:public-article' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Read</button>
        </form>
      {% endfor %}
    </div>
</body>
</html>